services:
  proxy:
    image: nginx:1.29.0
    environment:
      SERVER_NAME:
      PROXY_CLIENT_MAX_BODY_SIZE:
      PROXY_SEND_TIMEOUT:
      PROXY_READ_TIMEOUT:
    volumes:
      - ./files/nginx/includes:/etc/nginx/includes
      - ${PROXY_CONFIG_PATH}:/etc/nginx/templates/poolparty.conf.template
    ports:
      - "80:80"

  keycloak:
    image: ontotext/poolparty-keycloak:2.1.1
    environment:
      KC_PROXY_HEADERS:
      KC_HTTP_ENABLED:
      KC_HTTP_RELATIVE_PATH:
      KC_HOSTNAME:
      KEYCLOAK_ADMIN:
      KEYCLOAK_ADMIN_PASSWORD:
      POOLPARTY_SUPER_ADMIN_PASSWORD:
      POOLPARTY_KEYCLOAK_LOGIN_CLIENTSECRET:
    ports:
      - "9000:9000"
      - "8080:8080"
    volumes:
      - keycloak_data:/opt/keycloak/data
    command:
      - start-dev
      - --import-realm

  elasticsearch:
    image: ontotext/poolparty-elasticsearch:8.17.6
    environment:
      discovery.type:
      xpack.security.enabled:
      ES_JAVA_TOOL_OPTIONS:
      ELASTIC_PASSWORD:
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - elastic_data:/usr/share/elasticsearch/data
    mem_limit: 10g

  graphdb:
    image: ontotext/graphdb:11.1.0
    environment:
      USE_SYSTEM_CA_CERTS: yes
      graphdb__home: /opt/graphdb/home
      graphdb__license__file: /etc/graphdb/graphdb.license
    entrypoint:
      - "/__cacert_entrypoint.sh"
    command:
      - "/opt/graphdb/dist/bin/graphdb"
    ports:
      - "7200:7200"
    volumes:
      - "${GRAPHDB_LICENSE}:/etc/graphdb/graphdb.license:ro"
      - graphdb_data:/opt/graphdb/home
    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://localhost:7200/protocol" ]
      interval: 5s
      timeout: 5s
      retries: 3

  poolparty:
    image: ontotext/poolparty:10.0.0
    environment:
      USE_SYSTEM_CA_CERTS: yes
      POOLPARTY_KEYCLOAK_LOGIN_REALM:
      POOLPARTY_KEYCLOAK_ADMIN_REALM:
      POOLPARTY_KEYCLOAK_AUTHURL:
      POOLPARTY_KEYCLOAK_LOGIN_CLIENTID:
      POOLPARTY_KEYCLOAK_LOGIN_CLIENTSECRET:
      POOLPARTY_KEYCLOAK_ADMIN_CLIENTID:
      POOLPARTY_KEYCLOAK_ADMIN_USERNAME:
      POOLPARTY_KEYCLOAK_ADMIN_PASSWORD:
      POOLPARTY_INDEX_TYPE:
      POOLPARTY_INDEX_URL:
      POOLPARTY_GRAPHDB_URL:
      POOLPARTY_GRAPHDB_USERNAME:
      POOLPARTY_GRAPHDB_PASSWORD:
      POOLPARTY_GRAPHDB_AUTHORIZATIONHEADER:
      PP_HEAP_SIZE:
      _POOLPARTY_ENCRYPTION_PASSWORD: "1234567890"
      _POOLPARTY_URL_BASE_SCHEME:
      _POOLPARTY_URL_BASE_VOCABULARY:
      _POOLPARTY_URL_BASE_USER:
      _POOLPARTY_URL_BASE_CONTEXT:
    ports:
      - "8081:8081"
    extra_hosts:
      - "${SERVER_NAME}:host-gateway"
    volumes:
      - "${POOLPARTY_LICENSE}:/usr/share/poolparty/config/licenses/poolparty.key:ro"
      - poolparty_data:/var/lib/poolparty

volumes:
  keycloak_data:
  graphdb_data:
  elastic_data:
  poolparty_data: